- var itemsCount = this.state.items.length;

if itemsCount
	.builds.builds__size-large(class="builds__order-#{itemsCount % 2 ? 'left' : 'right'}")
		- var prevDate;
		each build in this.state.items
			- var currentDate = build.startDate || build.createDate;
			- var formattedDate = moment(prevDate).calendar(null, {
			- 	sameDay: '[Today]',
			- 	lastDay: '[Yesterday]',
			- 	lastWeek: 'DD/MM/YYYY',
			- 	sameElse: 'DD/MM/YYYY'
			- });

			if prevDate && moment(currentDate).isBefore(prevDate, 'day')
				if itemsCount % 2
					.builds_split(key=formattedDate + '_1')
						.builds_split-date= formattedDate
					.builds_split(key=formattedDate + '_2')
				else
					.builds_split(key=formattedDate + '_1')
					.builds_split(key=formattedDate + '_2')
						.builds_split-date= formattedDate

			- prevDate = currentDate;

			Item(build=build, key=build.id)
else
	p Build history is empty

if itemsCount && itemsCount % 20 === 0
	.text-center
		a.btn.btn-sm.btn-default(href="javascript:void(0);", onClick=this.onShowMoreBuilds(this.props.projectName))
			i.fa.fa-fw.fa-refresh(title="Show more builds")
			| 
			| Show more builds
